<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geneve</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/template/css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">TE15 i Geneve</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Hem</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Innan vi åker</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schema">Schema under resan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Bilder</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Bra att veta under resan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Föräldrar information</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">TE15 Resa till Schweiz</h1>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="mini-title">Innan vi åker</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Kontrollera någon dag innan</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="list">
                  <ul>
                    <li>Att du kan ta emot och skicka sms i Schweiz</li>
                    <br>
                    <li>Att du har tillgång till motsvarande ungefär 900 SEK, men allt behöver inte vara inväxlat till Schweiziska Franc.</li>
                    <br>
                    <li>Om du vet med dig att du har svårt att sova när det är nya ljud runtomkring dig, så som till exempel andra sovande personer, så köp och ta med <strong>öronproppar</strong>.</li>
                    <br>
                    <li>Kontrollera måtten på din resväska. Tänk på att den inte får vara större än (55 x 40 x 23) cm. Man får även ta med en liten väska, typ mindre ryggsäck eller handväska utöver sitt handbagage.</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="hr">
            <div class="row">
              <div class="col-md-12">
                <h3>Avresedagen hemma</h3>
                <div class="list">
                  <ul>
                    <li>Ta med pass/nationella Idkort/permanenta uppehållstillståndskortet. </li>
                    <br>
                    <li>Ta med biljetten. Vi som skola kommer att ha checkat in er innan ni kommer till Arlanda. Vi gör det för att få så många platser bredvid varandra som möjligt.</li>
                    <br>
                    <li>Ta med sjukförsäkringskortet från Försäkringskassan.</li>
                    <br>
                    <li>Var noga med att inte packa mer än 100 ml vätska totalt (handbagage-regel).</li>
                    <br>
                    <li>Alla ska ha representativa kläder inför besöken på CERN och EU/FN (hela jeans, helst skjorta men tröja fungerar också för alla killar.)</li>
                    <br>
                    <li>Lakan ingår, men du måste ta med egen handduk.</li>
                    <br>
                    <li>SKÖNA, gärna VARMA skor. Det är förbjudet att ha högklackat eller tofflor med öppen tå på CERN, pga säkerhetsrisk.</li>
                    <br>
                    <li>Just nu är det kallt även i centraleuropa. Res helst i en varm jacka.</li>
                    <br>
                    <li>Ta med paraply. Det kan regna och vi går på en stadsvandring oavsett väder.</li>
                  </ul>
                </div>
              </div>
            </div>

        </div>
    </section>

    <!-- Schema Section -->
    <section id="schema" class="schema-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center page-heading">Schema för resan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#home">13/11 Resdag</a></li>
                      <li><a data-toggle="tab" href="#menu1">14/11 CERN</a></li>
                      <li><a data-toggle="tab" href="#menu2">15/11 EU+FN</a></li>
                      <li><a data-toggle="tab" href="#menu3">16/11 Geneve</a></li>
                      <li><a data-toggle="tab" href="#menu4">17/11 Resdag</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                        <h3>Söndagen 13/11</h3>
                        <p>14:00 samling i avgångshallen terminal 5, Arlanda. Vi som skola checkar in alla ett dygn innan planet lyfter.</p>
                        <p>Flyg LX1251 ska lyfta 15:15 och landa 17:40 i Zurich. Där har vi fram till 20:45 innan flyg

LX2816 lyfter 20:45 för att landa 21:35 i Geneve. På flyget mellan Stockholm och Zurich

serveras något mycket enklare tilltugg och på flyget inom Schweiz serveras ingenting.

Mellan 17:40 samt c:a 19:40 har alla ansvar att äta motsvarande middag på Zurich flygplats.</p>
                      </div>
                      <div id="menu1" class="tab-pane fade">
                        <h3>Måndagen 14/11</h3>
                        <p>Samling i receptionen/utanför SENAST klockan xx:xx i respektive lokalrese-grupp för avresa

mot CERN.</p>
                        <p>08:30-08:45 Hitta till rätt hus och registrera alla grupper inför besöket

09:00-10:00 Introduction to CERN – presentation plus film</p>

                        <p>De två grupperna träffas vid CERNs reception för gemensam hemfärd. Vi får middag på

boendet klockan 17:30.</p>

                        <p>”Ledigt från arrangemang” fram till 22:00, när man SENAST ska vara tillbaka vid boendet.</p>


                      </div>
                      <div id="menu2" class="tab-pane fade">
                        <h3>Tisdagen 15/11</h3>
                        <p>Samling i receptionen/utanför SENAST klockan xx:xx i respektive lokalrese-grupp för

promenad till den svenska EU-delegationen

10-10:30 Träffar och samtalar med Jannie Lilja på den svenska EU-delegationen. X

Förbered genom att surfa här. 10:30ish-11 Promenad till FN-palatset

11-11ish Säkerhetskontroller

11:30-12:30 Guidad tur i FN-palatset

12:45 Tillbaka till boendet

13:30 Lunch på boendet</p>

                        <p>14:30 Samling vid receptionen för promenad till gamla stan

15:30-17:30ish Geneva Mystery

xx:xx Middag (när och var meddelas senare)</p>
                        <p>”Ledigt från arrangemang” fram till 22:00, när man SENAST ska vara tillbaka vid boendet.</p>
                      </div>
                      <div id="menu3" class="tab-pane fade">
                        <h3>Onsdagen 16/11</h3>
                        <p>Samling i receptionen/utanför SENAST klockan 08:50. Vi blir upphämtade av två turistbussar.

09:00-10:00 Guidad busstur runt i Geneve

10:00-11:00 Guidad vandring i Geneves gamla stan.

xx:xx Lunch (när och var meddelas senare)</p>
                        <p>xx:xx Klockmuseet Patek Phillip (frivilligt, tid meddelas senare)</p>
                        <p>xx:xx Middag (när och var meddelas senare)</p>
                        <p>”Ledigt från arrangemang” fram till 22:00, när man SENAST ska vara tillbaka vid boendet.</p>
                      </div>
                      <div id="menu4" class="tab-pane fade">
                        <h3>Torsdagen 17/11</h3>
                        <p>Hemresedag. Frukostrumsnärvaro senast 08:30.

Vi måste lämna boendet senast klockan 11. Mellan 09:30 och 10:30 inspekterar lärargruppen

varje av oss använt boenderum.</p>
                        <p>Delvis ”ledigt från arrangemang” men vi har en del att fixa med inför hemresan som vi som

lärare/arrangörer kan bestämma först när vi sett hur allt ser ut.

Planet hem lyfter 14:45. Så vi borde vara på flygplatsen strax före 13:30. Då ska alla ha ätit

en rejälare lunch. Var och när vi gör det bestäms på måndag-tisdag under resveckan. För på

resan hem blir det svårt att hinna äta. Flyg LX2811 ska lyfta 14:45 och landa 15:35 i Zurich.

Där har vi BARA fram till 16:35 innan flyg LX1254 lyfter för att landa 18:55 på Arlanda. På

flyget mellan Stockholm och Zurich serveras något mycket enklare tilltugg och på flyget inom

Schweiz serveras ingenting. Så det kommer att bli sen middag torsdag kväll.</p>
                      </div>
                      <div id="menu5" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <!--<section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>-->

    <section id="services" class="service-section bilder">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center" id="lol">Bilder</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
                </div>
                <div class="col-lg-4">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
                </div>
                <div class="col-lg-4">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="assets/template/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/template/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="assets/template/js/jquery.easing.min.js"></script>
    <script src="assets/template/js/scrolling-nav.js"></script>

</body>

</html>
