
.mini-header {
  /* padding-bottom: 40px; */
  font-family: 'Fjalla One', sans-serif;

}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  color:green;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

p {
  font-family: 'Didact Gothic', sans-serif !important;

}

ul{
  list-style: none !important;
}

hr {
  background-color: #ccc !important;
  height: 1px !important;
  width: 50%;

}

.under-line {
  text-decoration: underline;;
}

.bilder {
  padding-bottom: 150px;
  background-color: #EEEEEE;
}

.tab-pane {
  max-width: 800px !important;
}

.about-section {
  height: auto !important;
  padding-top:  40px;
  padding-bottom: 40px;
}

section {
  padding-bottom:  25px;
  padding-top:  25px;
}

.main-heading {
  font-size: 4em;
  font-family: 'Fjalla One', sans-serif;

}

.schema-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.listwidth {
  margin: auto !important;
  max-width: 500px;
  font-size: 1.2em;
  font-family: 'Cantarell', sans-serif;

}

#comming-soon {
  font-size: 10px;
  padding-bottom: 40px;
}

.text-title {
  font-family: 'Fjalla One', sans-serif;

}

.page-scroll {
  font-family: 'Cantarell', sans-serif;

}

.hr-mini {
  background-color: #ccc !important;
  height: 1px !important;
  width: 20% !important;
}
