
.mini-title {
}

ul{
  list-style: none !important;
}

hr {
  color: black !important;
  width: 20px !important;
}

#lol {
  padding-top: 150px;
}

.bilder {
  padding-bottom: 150px;

}

.tab-pane {
  max-width: 800px !important;
}
