
.mini-title {
}

ul{
  list-style: none !important;
}

hr {
  color: black !important;
  width: 20px !important;
}

#lol {
  padding-top: 150px;
}

.bilder {
  padding-bottom: 150px;
  background-color: #EEEEEE;
}

.tab-pane {
  max-width: 800px !important;
}

.about-section {
  height: auto !important;
  padding-top:  40px;
}

section {
  padding-bottom:  25px;
  padding-top:  25px;
}

.main-heading {
  font-size: 4em;
}

.schema-section {
  padding-top: 50px;
}